@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/* box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.75); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #000;
  background-image: linear-gradient(to top right, #f76767d7 0%, #f34a4a 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout */
main {
  position: relative;
  clip-path: ellipse(50% 50% at 50% 50%);
  width: 100rem;
  height: 60rem;
  background-color: #f1d3bcb3;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Elements */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  filter: drop-shadow(1px 1px 0.1px rgb(63, 63, 63));
  color: #262f34;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #615049;
  margin-bottom: auto;
  filter: drop-shadow(1px 1px 0.1px rgb(63, 63, 63));
}

.player_active {
  background-color: rgb(255 255 255 / 50%);
}
.player_active .name {
  font-weight: 700;
}
.player_active .score {
  font-weight: 400;
}

.player_active .current {
  opacity: 1;
}

.current {
  clip-path: ellipse(50% 50% at 50% 50%);
  background: linear-gradient(145deg, #615049, #615049);
  box-shadow: 7px 7px 18px #878787, -7px -7px 18px #878787;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current__label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #eee;
}

.current__score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 3rem;
  transition: all 0.2s;
  background: linear-gradient(180deg, #ffffff, #e6e6e6);
  box-shadow: 0px 0px 8px #666666, 0px 0px 8px #878787;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
}

.btn__new {
  top: 3rem;
}
.btn__roll {
  top: 42rem;
}
.btn__hold {
  top: 50rem;
}

.btn:active {
  transform: translate(-50%, 3px);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 25rem;
  transform: translateX(-50%);
  height: 12rem;
  filter: drop-shadow(0.1px 0.1px 1px rgb(139, 63, 63));
}

.player_winner {
  background-color: #b6452c;
}

.player_winner .name {
  font-weight: 700;
  color: #80ab25;
}
